@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo:#3366ff
    --branco: #FFFFFF;
    --azul: #002F52;
    --Médio Azul: #0000CD, (0,0,205);
    --fonte-principal: "Poppins";
    --amarelo: #FF0000;
    --fonte-secundario: "Josefin Sans";
    --Fuchsia / Magenta: #FF00FF;
    --cinza claro: #A9A9A9;
    --preto: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
